.sidebar_hamburger {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px, 15px;
  font-size: 25px;
  cursor: pointer;
  z-index: 50;
  transition-duration: 500ms;
}
.sidebar_hamburger_translate {
  transform: translate(300px);
}
.sidebar_content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px, 20px;
  z-index: 20;
  transform: translate(-300px);
  transition-duration: 500ms;
  justify-content: center;
  overflow: visible;
}
.sidebar_hamburger_translate + .sidebar_content {
  transform: translate(0px);
}
.sidebar_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_list > li {
  margin-bottom: 20px;
}
.sidebar_image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #eee;
}

.sidebar_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.sidebar__list__item {
  font-size: 12px;
  letter-spacing: 1px;
  padding: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  cursor: pointer;
}

.sidebar__list__item::after {
  content: "";
  width: 0px;
  height: 1px;
  background: #2c98f0;
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
  transition: all ease 0.2s;
}

.sidebar__list__item:hover::after {
  width: 120%;
}
